@media only screen and (max-width: 1000px) {

	#basic-info > div {
		transform: scale(1.15);
		left: 20px;
	}

	.wall-of-text h3 {
		font-size: 12px;
	}

	.horizontal-item h1 {
		font-size: 20px;
	}

	.horizontal-item h4 {
		font-size: 14px;
	}

	#my-languages, #my-courses ul {
		transform: scale(1.23);
		margin-top: 50px;
		margin-left: 50px;
	}

	#my-languages li {
		font-size: 13pt;
	}

	#my-courses li {
		font-size: 13pt;
	}

	#my-papers {
		height: 100%;
	}

	#my-courses {
		height: 330px;
	}

	#my-courses h1 {
		font-size: 19pt;
	}

	#my-languages #naturals {
		flex: 0 0 60%;
		left: 100px;
	}

	#my-languages #programming {
		right: 100px;
	}

	#my-courses #core-courses{
		flex: 0 0 54%;
		left: -10px;
	}


}
